.container {
	padding: 100px 120px;
}
#navbar {
	background-color: #ca3d03;
    font-color: white;
    opacity: 0.8;
    border: 0;
}     
.carousel {
	margin-bottom: 165px;
	height: 700px;
}
footer {
	padding: 10px;
	margin-top: 135px;
	background-color: #ca3d03;
	color: white;
	font-family: Lora, serif;
}
#destinations h1 {
	font-size: 77px;
}	
#possibilities h1 {
	font-size: 40px;
}
#possibilities h2 {
	font-size: 73px;
}
#homepage {
	font-family: Lora, serif;
}
#destinations {
	padding-bottom: 280px;
}
#destination1 {
	padding: 0 0 15px 0;
	border: none;
}
#modal1 {
	background-color: #ca3d03;
}
#modal2 {
	background-color: #ca3d03;
}
#modal3 {
	background-color: #ca3d03;
}